:host {
    .mat-submit {
        display: flex;
        justify-content: end;
        margin-top: 13px;
        margin-bottom: 12px;
        .btn {
            background-color: #4CAF50 !important;
            border-radius: 0px;
            border: 1px solid transparent;
        }
    }
    .mat-control-buttons {
        display: flex;
        justify-content: start !important;
        .btn {
            margin-right: 12px !important;
            color: red !important;
        }
    }
    input {
        padding-bottom: 42px !important;
    }
}