<form class="mat-form-input" [formGroup]="form">
    <div class="container">
        <div class="row mat-form-field-custom">
            <div class="col-4">
                <!-- <label>Origin</lbel> -->
                <mat-form-field class="mat-full-width" appearance="outline">
                    <input type="text" placeholder="Origin" aria-label="Number" matInput [matAutocomplete]="auto" formControlName="origin" />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of originFilter$ | async" [value]="option">
                            {{ option.source }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-1 mat-one-col">
                <h6>to</h6>
            </div>
            <div class="col-4">
                <!-- <label>Destination</label> -->
                <mat-form-field class="mat-full-width" appearance="outline">
                    <input type="text" placeholder="Destination" aria-label="Number" matInput [matAutocomplete]="auto" formControlName="destination" />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of destinationFilter$ | async" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-3 mat-search_button">
                <button type="button" class="btn btn-primary btn-lg" (click)="findShortestPath()">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="container" *ngIf="results$ | async as calculated ;else loading">
    <div class="row">
        <!-- <div class="col mat-result">
            <h3>{{ calculated.origin }}</h3>
            &nbsp;&nbsp; &nbsp;&nbsp; <span><h3>to</h3></span> &nbsp;&nbsp; &nbsp;&nbsp;
            <h3>{{ calculated.destination }}</h3>
        </div> -->

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Origin">
                <th mat-header-cell *matHeaderCellDef> Origin </th>
                <td mat-cell *matCellDef="let element"> {{element.Origin}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Destination">
                <th mat-header-cell *matHeaderCellDef> Destination </th>
                <td mat-cell *matCellDef="let element"> {{element.Destination}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Distance">
                <th mat-header-cell *matHeaderCellDef> Distance </th>
                <td mat-cell *matCellDef="let element"> {{element.Distance}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col mat-result mat-result-calculated">

            <button mat-flat-button>
                Click here to see the Path to the from Orgin to Destination
            </button>


        </div>

        <div class="col mat-result">

            <button mat-flat-button>
                Click here to see the Path to the from Orgin to Destination
            </button>


        </div>
    </div>
</div>
<ng-template #loading>
    <div class="container">
        <div class="row mat-loading-comp">
            <h2>
                Data loading...
            </h2>
        </div>
    </div>
</ng-template>