.mat-form-input {
    min-width: 150px;
    width: 100%;
    background-color: #350d36;
    color: white;
    padding-top: 15px;
    margin-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    .mat-full-width {
        width: 100%;
    }
}

.mat-checkbox-custom {
    background-color: #350d36;
    color: #ffffff;
    padding-top: 15px;
    align-self: start;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.mat-form-field-custom {
    width: 100%;
    // border-bottom: 2px solid #ffffff;
}

.mat-card-title {
    border-bottom: 1px solid #ffffff;
}

.mat-one-col {
    align-self: center !important;
}

.mat-search_button {
    button {
        margin-top: 5px;
        padding-bottom: 12px;
        background-color: #4CAF50;
        border: 1px solid transparent !important;
    }
}

.mat-loading-comp {
    margin: 15px;
}

.mat-result {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    &-calculated {
        margin-top: 4px;
        color: #350d36 !important;
    }
}

table {
    width: 100%;
    cursor: pointer;
}

.mat-form-field-checkBox {
    border-top: 1px solid #ffffff;
    width: 100%;
}

.mat-card {
    border-radius: 0px;
}

.mat-result-calculated {
    width: 100%;
    margin-bottom: 12px;
    button {
        width: 100%;
        border-radius: 0px;
        border: 1px solid transparent;
        background-color: #4CAF50;
        color: #FFFFFF;
        &:focus {
            border: 1px solid transparent;
            outline: transparent;
        }
    }
}