.mat-form-input {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: #350d36;
    color: white;
    padding-top: 15px;
    margin-bottom: 12px;
    .mat-full-width {
        width: 100%;
    }
}

.mat-form-field-custom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
}

.mat-one-col {
    align-self: center !important;
}

.mat-search_button {
    button {
        margin-top: 5px;
        padding-bottom: 12px;
        background-color: #4CAF50;
        border: 1px solid transparent;
    }
}

.mat-loading-comp {
    margin: 15px;
}

.mat-result {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    &-calculated {
        margin-top: 4px;
        color: #350d36 !important;
    }
}

table {
    width: 100%;
    cursor: pointer;
}

.mat-result-calculated {
    width: 100%;
    margin-bottom: 12px;
    button {
        width: 100%;
        border-radius: 0px;
        border: 1px solid transparent;
        background-color: #4CAF50;
        color: #FFFFFF;
        &:focus {
            border: 1px solid transparent;
            outline: transparent;
        }
    }
}