/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field {
    .mat-input-element {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 500;
        caret-color: #FFFFFF;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: slategray;
        border-bottom: solid 1px #666666;
        border: 2px solid red;
    }
    .mat-form-field-required-marker {
        color: red;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: blue !important;
        border-radius: 1px;
    }
}